
<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheet/style.css">
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@600&family=Rubik+Maps&display=swap" rel="stylesheet">
<style>
  /* Custom CSS to minimize image height */
  a{
    text-decoration: none;
  }

  hr{
    color: wheat;
    font-size: 1rem;
  }
 
  body{
  background-color: #081b29;
}
.home{
margin-top: 2rem;
  background-size: cover ;


  color: white;
}

.home-content h1{
  font-size: 2rem;
  line-height: 1.2;
  font-weight:700;

}
.home-content h3{
  font-size: 32px;
  font-weight: 700;
  color: aqua;
}

</style>
<body>
    <div class="container-fluid ll">
        <!--banner-->
        <div class="row home">
          <div class="col-md-12  home-content"> 
           
            <br>
            <h3>Your Thinking Can cangend in code and at final the solution.</h3>
            <br><p>A mission-driven company, creating a significant future with advanced IT solutions for business development. Our mission is to empower clients by seamlessly integrating cutting-edge technology into their operations, enabling efficient and streamlined business processes. We specialize in delivering tailored tech-driven solutions that optimize productivity, enhance customer engagement, and drive growth. With a team of skilled professionals and a customer-centric approach, we strive to provide comprehensive IT services that cater to the unique needs of each business.</p>
<div class="row d-flex justify-content-between ">
        <div class="col-4">  <a href="/register-Admin" class="btn btn-primary">Register As Admin</a></div>
      
      <div class="col-4">  <a href="/crete-user" class="btn btn-primary"> Register as User </a></div>
      </div>
          
          
          </div> <!-- col end-->
         
      </div>
      <!-- Add this script after including the Cropper.js library -->
<script>
 
</script>

    
</body>